.App {
  text-align: center;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(1, 1, 26);
  color: white;

}
.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
aside {
min-height: 80vh;
width: 30%;
background-color: rgb(1, 1, 26);
color: white;

}

footer {
 min-height: 10vh;
 background-color: rgb(1, 1, 26);
 color: white;
bottom: 100%;
width: 100%;


}