.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.button{
    color: white;
    margin-top: 10px;
    width: 300px;
    cursor: pointer;
    font-size: 20px;  
    border-radius: 20px 
}

.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px
}

.dropdown{
    text-align: center;
    width: 330px;
    height: 40px;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
    background-color:white
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input{
    width: 330px;
    height: 40px;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
}

.input:focus {
    outline: none;
}
.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.inputError {
    outline: 1px solid #c2185b;
    width: 330px;
    height: 40px;
    border-bottom: 2px solid #c2185b;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 24px;
}

select {
    outline: none;
}

.textarea {
    border: 2px solid black;
    font-size: 24px;
    outline: none;
}

.textareaError {
    outline: 1px solid #c2185b;
    border-bottom: 2px solid #c2185b;
    font-size: 24px;


}



@media screen and (max-width: 600px) {
    h1{
        width: 90%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px

    }
    .wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form,
    .button,
    .inputError,
    .input,
    .dropdown,
    .textarea{
        width: 90%
    }

}