.admin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 50px

}

.listingAdmin{
    background-color: red;
}

.listingImg{
    margin: 0;
}

.title{
    color: black;
    font-size: 1rem;
}
/*
.navLinkFav{
    width: '80%';
     color: 'black';
      display: 'flex';
       flex-direction: 'row';
        justify-content: 'space-between';
}*/

.bookDetailsFav {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center

}


.favWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.bookDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}