.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.books a{
    color: rgba(8, 7, 7, 0.801);
    text-decoration: none;
}

.books a:hover{
    text-decoration: underline;
    color: black
}

.singleBook{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 250px;
    height: 350px;
}




.favorite {
    height: 50px;
    width: 50px;
    background-color: red;
    border-radius: 50%;
}

.favorite:hover {
cursor: pointer;
}

.like {
    min-width: 30px;
    min-height: 30px;
    margin-right: 10px;
    border: 1px solid #c2185b;
    color: #c2185b;
    padding: 5px 10px;
    border-radius: 20px;
    background: white;
    font-weight: bold;
    margin: 0 auto;
    width: 200px
}

.like:hover {
    cursor: pointer;
    background: #c2185b;
    color: white
    }

