@media screen and (max-width: 600px) {
    .imageUpload{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imageUploadButton{
        margin-top: 5px
    }

}