.uploadButton{
    float: left;
}
.userImg {
    border-radius: 50%;
}
/* .profilPictureEdit {
    display: flex;
    flex-direction: column;
} */

.uploadButtons {
    /* display: none; */
}

.profilPictureEdit {
    display: grid;
    grid-template-areas: "picture";
}


.profilePicture {
    grid-area: picture;
}

.loadPicSec {
    grid-area: picture;
    
}