.userProfile h1{
    text-align: center;
}

.profilePicture{
    text-align: center;
}

.userProfile .button{
    border: 1px solid #c2185b;
    background: #c2185b;
    color: white;
     width: 230px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px; 
    float: right; 
}



.loginButton{
    float: right;

}

.userProfile button:hover{
    border: 1px solid #FF9800;
    background: #FF9800;
    color: white
}


.label{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 330px;
    height: 40px;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none
}

.loginGrid {

   height: 95vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 5vh;




    
/* margin-top: 20vh;
 display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-top: 60px;
    padding-bottom: 40px;
    margin: auto;
    min-height: 65vh;
    grid-template-areas: 
    "logo box"
    "desc box"
    "desc box"
    "desc box"
    "desc box" */
}

.loginBox {
    /* display: flex;
    justify-content: center;
    align-items: center;

    grid-area: box; */


}

.logoSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  /*  grid-area: logo;
    display: flex;
    justify-content: center;
    */
}

.logo {

    max-width: 200px;
   /* width: 10%*/
    

}

.logoText {
   /*width: 70%*/
}

.loginDesc {
/*    grid-area: desc;
    padding-top: 80px;
    padding-right: 5px;
    */
}


@media screen and (max-width: 600px) {
   .loginGrid{
       display: flex;
       flex-direction: column;
       justify-content: center; 
       
   }

   .loginDesc{
        display:inline-block;
        text-align:center;       
    }

    h1{
        display: inline-block;
        text-align: center; 
    }

    .userProfile{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .userContent {
        padding-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
}

.userHeader {
    display: flex;
}


