
.userProfile button{
    border: 1px solid #c2185b;
    background: #c2185b;
    color: white;
    margin-top: 40px;
    width: 230px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    float: right;
    border-radius: 10px;
}

.userProfile button:hover{
    border: 1px solid #FF9800;
    background: #FF9800;
    color: white
}

.loginGrid {

   height: 95vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 0 5vh;




    
/* margin-top: 20vh;
 display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto;
    min-height: 100vh;
    grid-template-areas: 
    "logo box"
    "desc box"
    "desc box"
    "desc box"
    "desc box" */
}

.loginBox {
    /* display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box; */

}

.logoSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  /*  grid-area: logo;
    display: flex;
    max-height: 50px;
    justify-content: center;
    */
}

.logo {
    max-width: 200px;
   /* width: 10%*/
    
}
.logoText {
   /*width: 70%*/
}

.loginDesc {
/*    grid-area: desc;
    padding-top: 80px;
    padding-right: 5px;
    */
}


@media screen and (max-width: 600px) {
   .loginGrid{
       display: flex;
       flex-direction: column;
       justify-content: center; 
   }

   .loginDesc{
        display:inline-block;
        text-align:center;    
        margin-bottom: 30px;
    }

    h1{
        display: inline-block;
        text-align: center; 
        margin-top: 50px
    }

    .userProfile{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center
    }
   
}