/* 
.logoHome{
    width: 270px;
    height: 40px;
    margin-top: 15px

}

.headerTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 20px;
}

.dashboard1{
    width: 340px;
    height: 330px;
    
}

.text1{
    width: 400px;
    margin-top: 100px;
    display: flex;
    margin-right: 60px;
    

}

.dashboard1Container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;



}
.dashboard1Stat{
    margin-left: 50px;
    margin-top: 50px;
}

label{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.dashboard2{
    width: 600px;
    height: 400px;

}

.text2{
    width: 400px;
    margin-top: 100px
}

.dashboard2Container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    
}

.square1{
    background: #e32d91;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.square2{
    background: #c830cc;
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.square3{
    background: #4ea6dc;
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.square4{
    background: #4775e7;
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.square5{
    background: #8971e1;
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.square6{
    background: #d54773;
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.square7{
    background: #901358;
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.square8{
    background: #781d7a;
    width: 20px;
    height: 20px;
    margin-right: 10px;

} */

.graph1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.graph2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.h1{
    margin-bottom: 100px
}

.graphs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}