* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

nav{
  background: rgb(204, 0, 34);
  color: white;
}

ul{
  display: flex;
  list-style-type: none;
}

li{
  flex-grow: 1;
}

a{
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 30px 30px;
  border-bottom: 4px solid rgb(204, 0, 34)

}

a:hover{
  color: rgb(245, 230, 17);
}

section{
  padding-top: 50px;
  text-align: center;
}



.home_selected{
  border-bottom-color: rgb(245, 230, 17);


}

.contact_selected{
  border-bottom-color: rgb(245, 230, 17);

}

.news_selected{
  border-bottom-color: rgb(245, 230, 17);

}