.filter {
background: pink;

top: 50px;
height: 100px;
display: flex;
justify-content: center;
align-items: center;


}

.forms {
    display: flex;
}

.listings {
    background-color: grey;
}

.searchArea {
    background-color: antiquewhite;
}
.listingsResults {

}

.sortbyArea {

}
.pagination {

}
.sortOptions {

}
.sortby {

}
.listing {
    
}