.App {
  text-align: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-areas: 
  "nav nav"
  "aside main"
  "footer footer";
  position: absolute;
  top: 0;
  left: 0;
   
  
  row-gap: 0;
  width: 100%;
  
  

}



